doctype html 
html 
    head 
        title #{title}
    body
        h1 Add Todo To Users
        if error
            p(style="color: red;")= error
        ul
            each todo, index in ur
                form(method="POST",action=`/todoItem/${todo._id}`)
                    li  #{todo.name}
                    label(for="todouser") Enter Todo:
                    input(type="text", name="todouser", required=true)
                    br
                    br
                    label(for="comment") Comments:
                    input(type="text", name="comment", required=true)
                    br
                    br
                    button(type="submit") Add Todo:
                br
        a(href="/base") List of Users
        